<% content_for :title, "Editing movie" %>

<h1 style="
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
    padding: 10px">
  Editing: <%= @movie.title %>
</h1>

<%= render "form", movie: @movie %>

<br>
